<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="./css/style.css">
  <title>About</title>
</head>
<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src="./img/78883679_2114718618627605_5052133514472849408_n.jpg">
  </div>
  {{>footer}}
</body>
</html>